<link rel="stylesheet" href="../stylesheets/card-film.css">
<nav class="navbar navbar-expand-lg navbar-dark">
  <a href="/home"><img src="../images/icon.png" alt="" width="50em" style="margin:0px 50px 0px 50px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home" style="font-weight: bold; color: crimson">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/film">Films</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/favorite">Favorite</a>
      </li>
      {{#when user 'eq' undefined}}
      <li class="nav-item">
        <a class="nav-link" href="/login">Login Or Register</a>
      </li>
      {{/when}}
      {{#if user}}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background: rgb(198, 199, 210);">
          <a class="dropdown-item" href="/logout">Logout</a>
          {{#when user.provider 'eq' 'local'}}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/update-account">Update information</a>
          {{/when}}
        </div>
      </li>
      {{/if}}
      {{#if user}}
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Welcome <b>{{user.username}}</b></a>
      </li>
      {{/if}}

    </ul>
    <form class="form-inline my-2 my-lg-0" action="/search" method="POST" id="searchFilm">
      <input class="form-control mr-sm-2" id="search" name="search" type="search" placeholder="Search"
        aria-label="Search" style="background: rgb(170, 172, 190);">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="title-genre">Phim sắp ra mắt</div>
<div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox" style="height:700px; text-align:-webkit-center;">
    <div class="carousel-item active">
      <img class="d-block img-fluid slideshow" src="./images/landscape.png" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid slideshow" src="./images/avatar.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid slideshow" src="./images/midway.png" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>
{{!-- suggestion film --> highest rating --}}
<div class="title-genre">Phim nổi bật</div>
<div class="container">
  {{#each films_suggest}}
  <div class="card">
    <img src="{{this.img}}" alt="" class="card-image">
    <div class="card-description">
      <p class="text-title">{{this.name}} <strong class="badge badge-danger badge-pill">{{this.age}}+</strong></p>
      <p class="text-body">{{#avg this.rating}}{{/avg}}/10<svg xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" id="star">
          <defs>
            <linearGradient id="b" x1="-1483.396" x2="-1155.767" y1="1056.787" y2="1056.787"
              gradientUnits="userSpaceOnUse" xlink:href="#a"></linearGradient>
            <linearGradient id="a">
              <stop offset="0" stop-color="#fcd635"></stop>
              <stop offset="1" stop-color="#f7a928"></stop>
            </linearGradient>
          </defs>
          <path fill="url(#b)"
            d="M-1220 1212.362c-11.656 8.326-86.446-44.452-100.77-44.568-14.324-.115-89.956 51.449-101.476 42.936-11.52-8.513 15.563-95.952 11.247-109.61-4.316-13.658-76.729-69.655-72.193-83.242 4.537-13.587 96.065-14.849 107.721-23.175 11.656-8.325 42.535-94.497 56.86-94.382 14.323.116 43.807 86.775 55.327 95.288 11.52 8.512 103.017 11.252 107.334 24.91 4.316 13.658-68.99 68.479-73.527 82.066-4.536 13.587 21.133 101.451 9.477 109.777z"
            color="#000" overflow="visible" transform="matrix(.04574 0 0 .04561 68.85 -40.34)" style="marker:none">
          </path>
        </svg> (<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-people-fill" viewBox="0 0 16 16">
          <path
            d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
        </svg> {{this.rating.length}})

      </p>
      <button class="cta" onclick="getDetail({{this.id}})">
        <span>Xem phim</span>
        <svg viewBox="0 0 13 10" height="10px" width="15px">
          <path d="M1,5 L11,5"></path>
          <polyline points="8 1 12 5 8 9"></polyline>
        </svg>
      </button>
    </div>
  </div>
  {{/each}}
</div>
{{!-- film newest --}}
<div class="title-genre">Phim mới nhất</div>
<div class="container">
  {{#each films_newest}}
  <div class="card">
    <img src="{{this.img}}" alt="" class="card-image">
    <div class="card-description">
      <p class="text-title">{{this.name}} <strong class="badge badge-danger badge-pill">{{this.age}}+</strong></p>
      <p class="text-body">{{#avg this.rating}}{{/avg}}/10<svg xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" id="star">
          <defs>
            <linearGradient id="b" x1="-1483.396" x2="-1155.767" y1="1056.787" y2="1056.787"
              gradientUnits="userSpaceOnUse" xlink:href="#a"></linearGradient>
            <linearGradient id="a">
              <stop offset="0" stop-color="#fcd635"></stop>
              <stop offset="1" stop-color="#f7a928"></stop>
            </linearGradient>
          </defs>
          <path fill="url(#b)"
            d="M-1220 1212.362c-11.656 8.326-86.446-44.452-100.77-44.568-14.324-.115-89.956 51.449-101.476 42.936-11.52-8.513 15.563-95.952 11.247-109.61-4.316-13.658-76.729-69.655-72.193-83.242 4.537-13.587 96.065-14.849 107.721-23.175 11.656-8.325 42.535-94.497 56.86-94.382 14.323.116 43.807 86.775 55.327 95.288 11.52 8.512 103.017 11.252 107.334 24.91 4.316 13.658-68.99 68.479-73.527 82.066-4.536 13.587 21.133 101.451 9.477 109.777z"
            color="#000" overflow="visible" transform="matrix(.04574 0 0 .04561 68.85 -40.34)" style="marker:none">
          </path>
        </svg> (<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-people-fill" viewBox="0 0 16 16">
          <path
            d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
        </svg> {{this.rating.length}})

      </p>
      <button class="cta" onclick="getDetail({{this.id}})">
        <span>Xem phim</span>
        <svg viewBox="0 0 13 10" height="10px" width="15px">
          <path d="M1,5 L11,5"></path>
          <polyline points="8 1 12 5 8 9"></polyline>
        </svg>
      </button>
    </div>
  </div>
  {{/each}}
</div>